<h1>Secrets</h1>

<% @secrets.each do |secret| %>
<p><%= secret.content %></p>
<p><%= secret.likes.count %> Likes</p>

<% if secret.users_liked.include?(current_user) %>
<form action="/secrets/unlike/<%= Like.find_by(user: User.find(current_user), secret: Secret.find(secret.id)).id %>" method='post'>
    <input type='hidden' name="_method" value="delete">
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='submit' value='Unlike'>
</form>

<% else %>

<% if current_user == secret.user %>
<a href="/destroy/<%= secret.id %>" data-method="delete">Delete Secret</a>

<% else %>
<form action="/secrets/like" method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='secret_id' value='<%= secret.id %>'>
    <input type='submit' value='Like'>
</form>
<% end %>
<% end %>
<hr>
<% end %>
